<div class="asset-container" style="">
  <div class="searchTags">
    <div>
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search" />
      </div>
    </div>
    <div id="divTags" class="tags-container"></div>
    <div class="patreon-container" onclick="go_patreon()">
      <image
        class="patreon-image"
        src="modules/herald-map-beta/assets/images/patreon_red.webp"
      />
      
    </div>
  </div>
  <div class="bannerMaps">
    <div>
      <div>Banner UI</div>
      <div class="bannerui"></div>
    </div>
    <div id="divListMaps" class="asset-grid"></div>
  </div>
</div>
