<div class="asset-container" style="">
  <div class="searchTags">
    <div>
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search" />
      </div>
    </div>
    <div id="divTags" class="tags-container"></div>
  </div>
  <div class="bannerMaps">
    <div>
      <div>Banner UI</div>
      <div class="bannerui"></div>
    </div>
    <div id="divListMaps" class="asset-grid"></div>
  </div>
  <button class="patreon-button" onclick="go_patreon()">Patreon</button>
</div>
