.herald-button {
    color: #fff;
    background-color: #1b1b1b;
    border: 1px solid #555;
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: 5px;
}

.herald-button:hover {
    background-color: #333;
    border-color: #888;
}

.asset-container {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.searchTags {
    text-align: center;
    /* border: 2px solid gray; */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    transition: border-color 0.3s;
}

.tags-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.tag {
    background-color: transparent;
    border: 2px solid gray;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

.tag.active {
    background-color: black;
    border-color: white;
    color: white;

}

.bannerMaps {
    text-align: center;
}

.bannerui {
    height: 150px;
    background-color: blue;
}

.asset-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 00px;
    padding: 10px;
    align-items: start;
}

.asset-item {
    border-radius: 12px;
    overflow: hidden;
    padding: 6px;
    transition: transform 0.3s ease;
    text-align: center;
    border: 1px solid #ccc;
}

.asset-image {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.preview-button,
.download-button {
    background-color: transparent;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.close-button {
    padding: 5px 10px;
    background-color: #1b1b1b;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
}



.patreon-button {
    position: absolute;
    background-color: #1b1b1b;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;

    width: 200px;
    height: 100px;
}


.patreon-image {
    border-radius: 12px;
    overflow: hidden;
    padding: 6px;
    transition: transform 0.3s ease;
    text-align: center;
    border: none;
}

.patreon-container {
    width: 18%;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.thumbnail-container {
    position: relative;
}

.tagtipe {
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 40%);
    width: 30px;
    height: 30px;
    -webkit-transform: translate(10%, 40%);
    -moz-transform: translate(10%, 40%);
    -ms-transform: translate(10%, 40%);
    -o-transform: translate(10%, 40%);
}